spring:
    application.name: waterfall-register
    codec:
        max-in-memory-size: 20MB
    data:
        mongodb:
            uri: mongodb://localhost:27017/core
server:
    port: 9098
    error:
        includeMessage: ALWAYS
cloud:
  aws:
    region:
      auto: false
      static: us-west-2
    stack:
      auto: false
management:
  metrics:
    export:
      datadog:
        enabled: false
  data:
    mongodb:
      port: 27017
  endpoints:
    enabled-by-default: false
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    health:
      enabled: true
      probes:
        enabled: true



